/*! superstar - v5.1.0 - 13-08-2019 */
.rtl {
  /* Desktop */
  /* Desktop & Tablets */
  /* Landscape phone to portrait tablet */
}
.rtl #primary #content #main .entry-meta .read-more {
  float: left;
}
.rtl .image-link .overlay-image + .overlay-title.fa:before {
  content: '\f137';
}
.rtl .media .pull-left,
.rtl .list-item .pull-left {
  margin-right: 0;
  margin-left: 20px;
}
.rtl .grid-item {
  border-width: 0 0 1px 1px;
}
.rtl .masonry-item {
  float: right;
}
.rtl .gallery-grid.grid-item,
.rtl .recent-post.grid-item,
.rtl .recent-gallery.grid-item {
  border-width: 0;
}
.rtl .pojo-loadmore-wrap .button:before,
.rtl .pojo-loading-wrap .button:before,
.rtl .pojo-loadmore-wrap .pojo-loading:before,
.rtl .pojo-loading-wrap .pojo-loading:before {
  margin-left: 5px;
  margin-right: 0;
}
.rtl .single-gallery-content-left .gallery-thumbnail {
  float: left;
}
.rtl .single-gallery-content-left .gallery-content {
  float: right;
}
.rtl #sidebar .menu li,
.rtl #sidebar .sub-menu li,
.rtl #sidebar .sub-page-menu li {
  list-style: none;
}
.rtl #sidebar .menu li a,
.rtl #sidebar .sub-menu li a,
.rtl #sidebar .sub-page-menu li a {
  background-image: url(../images/ul-rtl.png);
  background-position: 95% center;
  padding: 1em 10% 1em 0;
  border-width: 0 1px 0 0;
}
.rtl #sidebar ul li,
.rtl #sidebar-footer ul li {
  list-style-image: url(../images/ul-rtl.png);
}
.rtl #sidebar .recent-post.small-thumbnail .pull-left,
.rtl #sidebar-footer .recent-post.small-thumbnail .pull-left {
  margin-right: 0;
  margin-left: 10px;
}
.rtl .opening-hours-wrap .day-row .day-title {
  float: right;
}
.rtl .opening-hours-wrap .day-row .day-time {
  float: left;
  text-align: left;
}
.rtl ul.social-links li {
  margin-left: 5px;
  margin-right: 0;
}
.rtl .form-search input {
  left: auto;
  right: 0;
  padding: 0 9px 0 0;
}
.rtl .form-search button {
  left: 0;
  right: auto;
}
.rtl .commentlist ul li {
  padding-right: 20px;
  padding-left: 0;
}
.rtl .commentlist .comment-reply-link:before {
  margin-right: 0;
  margin-left: 5px;
}
.rtl #nav-main .pojo-menu-cart li.cart-content a img {
  float: left;
  margin-right: 10px;
  margin-left: 0;
}
.rtl .pull-left {
  float: right !important;
}
.rtl .pull-right {
  float: left !important;
}
.rtl .navbar-toggle {
  float: left;
  margin-right: 0;
  margin-left: 15px;
}
.rtl .col-sm-1,
.rtl .col-sm-2,
.rtl .col-sm-3,
.rtl .col-sm-4,
.rtl .col-sm-5,
.rtl .col-sm-6,
.rtl .col-sm-7,
.rtl .col-sm-8,
.rtl .col-sm-9,
.rtl .col-sm-10,
.rtl .col-sm-11,
.rtl .col-md-1,
.rtl .col-md-2,
.rtl .col-md-3,
.rtl .col-md-4,
.rtl .col-md-5,
.rtl .col-md-6,
.rtl .col-md-7,
.rtl .col-md-8,
.rtl .col-md-9,
.rtl .col-md-10,
.rtl .col-md-11 {
  float: right;
}
@media (min-width: 980px) {
  .rtl[class*='format-cpt-'] #primary .container #main #list-items,
  .rtl[class*='format-cpt-'] #primary .container-section #main #list-items {
    margin-right: 25px;
    margin-left: 0;
  }
  .rtl #sidebar {
    padding-right: 25px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .rtl #header {
    left: auto;
    right: 0;
    position: fixed;
  }
  .rtl #primary {
    margin-left: auto !important;
  }
}
@media (max-width: 767px) {
  .rtl .col-sm-1,
  .rtl .col-sm-2,
  .rtl .col-sm-3,
  .rtl .col-sm-4,
  .rtl .col-sm-5,
  .rtl .col-sm-6,
  .rtl .col-sm-7,
  .rtl .col-sm-8,
  .rtl .col-sm-9,
  .rtl .col-sm-10,
  .rtl .col-sm-11,
  .rtl .col-md-1,
  .rtl .col-md-2,
  .rtl .col-md-3,
  .rtl .col-md-4,
  .rtl .col-md-5,
  .rtl .col-md-6,
  .rtl .col-md-7,
  .rtl .col-md-8,
  .rtl .col-md-9,
  .rtl .col-md-10,
  .rtl .col-md-11 {
    float: none;
  }
  .rtl #header #logo {
    float: none;
  }
  .rtl #header #logo .logo-text,
  .rtl #header #logo .logo-img {
    float: right;
  }
  .rtl #header #nav-main {
    float: none;
  }
  .rtl .alignright,
  .rtl .alignleft {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .rtl .media .pull-left,
  .rtl .media .pull-right {
    float: none !important;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .rtl .single-gallery-content-left .gallery-thumbnail,
  .rtl .single-gallery-content-left .gallery-content {
    float: none;
  }
  .rtl #copyright {
    text-align: center;
  }
}
